<div>
  <mat-toolbar class="toolbar">
    <button mat-icon-button routerLink="/" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>FrontedEnd</span>
    <span class="spacer"></span>
    <div class="button">
      <button class="login" mat-stroked-button color="primary" routerLink="/login" >
        LogIn
      </button>
    </div>
    <div class="button">
      <button  mat-raised-button routerLink="/signup" color="primary">
        SignUp
      </button>
    </div>
  </mat-toolbar>
</div>
